/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove bullet points
 */

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */
/*ul*/.numbered-list{
    list-style-type:decimal;
}
