nav.c-header
	.c-header--left
		ul.c-header--list
			li.c-header__item-link
				a(href="#").active Discover
			li.c-header__item-link
				a(href="#")
					i.mdi.mdi-magnify
			li.c-header__item-link
				a(href="#") Log in
			li.c-header__item-link
				a(href="#") Sign up

	.c-header--right
		a(href="#")
			img(src="../assets/img/logo.svg").c-header--brand-logo
		a(href="#").c-header__brand-name stuboki

