extends ./views/_layout.jade
block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home'

block content

	.c-banner.o-wrapper--100
		h1.c-banner__title
		.c-banner__link-line

		.o-container-right
			.c-banner__link-text
			.c-banner__link-line
			.c-avatar--small

