extends ./views/_layout.jade
block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home'

block content

	.c-banner
		.c-banner--background
		h1.c-banner__title Welcome to Stuboki world.
		.c-banner--url__line
			a(href="#") Sign Up
		.o-container-right
			.c-banner--url__text
				a(href="#") Created by
			.c-banner--url__line
				@vanquocbui
			.c-avatar--small
				img(src="#", alt="")
