extends ./views/_layout.jade
block vars
	- var pageTitle = 'Home'
	- var bodyClass = 'home'

block content

	.c-banner
		.c-banner--background
		.o-container
			.c-banner--left
				h1.c-banner__title Welcome to Stuboki world.
				.c-banner--url__line
					a(href="#") Sign Up

			.c-banner--right
					a(href="#").c-banner--detail
						span.c-banner--url__text Created by
						span.c-banner--url__line @vanquocbui
						img(src="http://placehold.it/30x30", alt="").c-avatar--small


