include ../mixins/_svgsprite

doctype html
html(lang="en")
	block vars
	head
		block title
			title #{pageTitle} - frontlabster
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,300,700')
		link(rel='stylesheet', href='assets/css/screen.css')
	body(class='#{bodyClass}')

		block content
		script(src='assets/js/script.js')
